# Node.js
node_modules/
dist/
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE và Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Testing
coverage/
.nyc_output/

# pnpm
.pnpm-store/
.pnpm-debug.log

# TypeScript
*.tsbuildinfo

# MongoDB
data/db/